/* $black: rgba(0, 0, 0, 1);
$fh-farben: rgba(0, 177, 172, 1);
$white: rgba(241, 247, 238, 1);
$red: rgba(236, 11, 67, 1);
$silver: rgba(132, 130, 143, 1); */

body {
    width: 400px;
    height: 500px;
    background-color: #212121;
    color: rgba(241, 247, 238, 1);
}

.header{
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(0, 177, 172);
    font-size: 20px;
    background-color: #101010;
    width: 100%;
    height: 6%;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#chat{
    display: none;
}

#login{
    display: inline;
}

#messages {
    overflow-y: scroll;
    width: calc(100% - 20px);
    height: calc(84% - 30px);
    margin: 0px 0px 5px 0px;
    background-color: #101010;
    border-radius: 0px; 
    font-weight: bold;
    padding: 10px;
}

.input{
    width: 100%;
    height: 8%;
    background-color: transparent;
    border-radius: 15px;

}

#send-button{
    border-radius: 15px;
    color: rgb(0, 177, 172);
    border-color: rgb(0, 177, 172);
    background-color: rgb(0, 0, 0);
    padding: 5px;    
    margin-top: 6px;
    width: 15%;
}
.send-button:hover{
    color: rgba(241, 247, 238, 1);
    background-color: rgba(0, 177, 171, 0.37);
}
#send-button:active{
    color: black;
    background-color: rgb(0, 177, 172);
}

#textinput{
    border-radius: 15px;
    outline: none;
    border-color: rgb(0, 177, 172);
    background-color: rgba(241, 247, 238, 1);
    padding: 5px;
    margin-top: 6px;
    width: 80%;
    transition: ease-in-out 0.5s;
}

#textinput:focus{
    transition: ease-in-out 0.5s;
    border-radius: 5px;
}

.input-login{
    width: 100%;
    height: 100%;
    background-color: #101010;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#send-button-login{
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 15px;
    color: rgb(0, 177, 172);
    border-color: rgb(0, 177, 172);
    background-color: rgb(0, 0, 0);
    padding: 5px;
    width: 90%;
}
#send-button-login:hover{
    color: rgba(241, 247, 238, 1);
    background-color: rgba(132, 130, 143, 0.493);
}
#send-button-login:active{
    color: black;
    background-color: rgb(0, 177, 172);
}

#textinput-login{
    text-align: center;
    outline: none;
    transition: ease-in-out 0.5s;
    margin-left: 3%;
    border-radius: 15px;
    border-color: rgb(0, 177, 172);
    background-color: rgba(241, 247, 238, 1);
    padding: 5px;
    padding-left: 10px;
    margin-top: 50%;
    width: 90%;
}

#textinput-login:focus{
    transition: ease-in-out 0.5s;
    border-color: rgb(0, 177, 172);
    border-radius: 5px;
}


.top-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: rgba(0, 0, 0, 1);
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  .top-layer.active {
    top: 100%;
  }
  .top-layer--2 {
    background: rgba(0, 177, 172, 1);
    transition-delay: 0.6s;
  }
  .top-layer--3 {
    background: rgba(241, 247, 238, 1);
    transition-delay: 0.4s;
  }
  .top-layer--4 {
    background: rgba(236, 11, 67, 1);
    transition-delay: 0.2s;
  }
  .top-layer--5 {
    background: rgba(132, 130, 143, 1);
    transition-delay: 0.1s;
  }